<launch>
  <arg name="use_sim" default="False" />

  <group if="$(arg use_sim)">
    <arg name="model" default="$(find dv_bolid_description)/urdf/fsds_bolid_model.urdf.xacro"/>
    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
  </group>
  <group unless="$(arg use_sim)">
    <arg name="model" default="$(find dv_bolid_description)/urdf/LEM_bolid_model.urdf.xacro"/>
    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
  </group>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>