# =========================
# IDE / edytory
# =========================
.vscode/
.idea/
*.iml

# (opcjonalnie) CLion/JetBrains cmake-build-*
cmake-build-*/

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
.env

scripts/.idea/*
scripts/__pycache__/*
scripts/venv/
scripts/venv/bin/*
scripts/*.pyc

# =========================
# ROS / catkin / colcon
# =========================
# catkin_tools
build/
devel/
install/
logs/
.catkin_tools/
.catkin_workspace
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Makefile

# colcon (jeśli kiedyś użyjesz)
log/
build/
install/

# ROS message generation / python artifacts
*.msg~
*.srv~
*.action~
*.bag
*.bag.active
*.bag.original

# =========================
# Twoje foldery / generated
# =========================
External/
External/**

# Ignoruj wygenerowane pliki solvera (acados)
mpc_solver/acados_solver_generated/
mpc_solver/acados_ocp_ltv.json

# =========================
# Ogólne śmieci
# =========================
*.log
*.tmp
*.swp
*.bak
.DS_Store
Thumbs.db
