# Build artifacts
build/
**/build/

# CMake cache
CMakeCache.txt
CMakeFiles/

# VSCode / Codespaces
.vscode/
.devcontainer/

# Python (jeśli używasz Condy w Codespaces)
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

# Logs
*.log

# MacOS / Windows śmieci
.DS_Store
Thumbs.db
